<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.gbz3.authlib.domain.mapper.AuthUserMapper">

	<resultMap id="userResultMap" type="AuthUser">
		<id column="username" property="username" />
		<result column="password" property="password" />
		<result column="role" property="role" />
		<result column="mail" property="mail" />
	</resultMap>

	<select id="findOne" parameterType="string" resultMap="userResultMap"><![CDATA[
		SELECT
			username,
			password,
			role,
			mail
		FROM auth_user
		WHERE username = #{param}
	]]></select>

</mapper>